
body{
    overflow-x: hidden;
}

.loginbox{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login{
    padding: 25px;
    margin: 10px;
}
.navbarform{
    height: 100%;
    min-height: 800px;
    width: 300px;
    padding: 30px;
    background-color: #585858;
}
.newsbox{
    margin: 30px;
}