
body{
    overflow-x: hidden;
}

.loginbox{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login{
    padding: 25px;
    margin: 10px;
}
.navbarform{
    height: 100%;
    min-height: 800px;
    width: 300px;
    padding: 30px;
    background-color: #585858;
}
.newsbox{
    margin: 30px;
}
.rownews{
    margin-left: 5px;
    margin-right: 20px;
}
.spanleft{
    float:left;
}
.spanright{
    float:right;
}
.abouttextbox{
    margin-top: 100px;
    min-height: 350px;
}
.buttonrow{
    margin-top: 1px;
    float: left;
}
.required-field {
    color: #cf0000;
}
.usersbox{
    background-color: lightgray;
    border:1px solid black;
    border-radius: 5px;
    padding: 25px;
    margin-top: 100px;
    min-height: 300px;
}