
<div class="navbarform wrapper text-white" id="mainnavbar">

    <div style="height: 150px"></div>

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 style="margin-bottom: 45px; font-size: xx-large;">IntelRobotics</h3>
        </div>

        <ul class="list-unstyled components" style="font-size: x-large; color:white">
            <li>
                <a href="/news" style="color:white">Nyheder</a>
            </li>
            <li>
                <a href="/users" style="color:white">Brugere</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white">Web master</a>
                <ul class="collapse list-unstyled container" id="pageSubmenu">
                    <li>
                        <a href="/webnews" style="color:white">Nyheder</a>
                    </li>
                    <li>
                        <a href="/addwebnews" style="color:white">Opret nyheder</a>
                    </li>
                    <li>
                        <a href="/webproducts" style="color:white">Produkter</a>
                    </li>
                    <li>
                        <a href="/addwebproducts" style="color:white">Opret produkter</a>
                    </li>
                    <li>
                        <a href="/webabout" style="color:white">Virksomhedsinfo</a>
                    </li>

                </ul>
            </li>
        </ul>
        <div style="margin-top: 100px;">
            <li>
                <a href="/" style="color:white">Log ud</a>
            </li>
        </div>
    </nav>

</div>